html {
  background: #353a47;
}

body {
  font-family: "Crimson Text", serif;
  color: #f9f9f9;
}

a {
  font-weight: bold;
  color: #b0e298;
}

.tree-container {
  width: 60vw;
  margin: auto;
}

.navigation-container {
  display: flex;
}

.navigation-child {
  padding: 20px;
}

.post-title-container {
  display: flex;
  justify-content: center;
}

.post-title {
  text-align: center;
}

.post-content-container {
  display: flex;
  justify-content: center;
}

.post-content {
  padding: 10px;
  width: 60%;
}